.post-card {
  border: 1px solid #D4DDE2;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.post-card.own-post {
  border: 2px solid #5C7E8F;
}

.post-card:hover {
  box-shadow: 2px 2px 5px rgba(212, 221, 226, 0.2);
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #5C7E8F;
}

.post-title a {
  text-decoration: none;
  color: #5C7E8F;
}

.post-title a:hover {
  color: #A2A2A2;
}

.post-details {
  display: flex;
  gap: 1rem;
  color: #A2A2A2;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.post-excerpt {
  color: #5C7E8F;
  margin-bottom: 1rem;
  flex-grow: 1;
}
